{{ ansible_managed | comment }}

global_defs {
    enable_script_security
    script_user root
    vrrp_garp_master_refresh 5
    max_auto_priority
}

vrrp_script check_k3s {
    script "/etc/keepalived/check_k3s.sh"
    interval 3
    fall 3
    rise 2
    init_fail
}

vrrp_instance VI_1 {
    interface {{ keepalived_interface | default(ansible_default_ipv4.interface) }}
    virtual_router_id {{ keepalived_vrrp_id | default('51') }}
    priority  {{ keepalived_vrrp_priority | default('100') }}
    state {{ keepalived_vrrp_state | default('BACKUP') }}

    virtual_ipaddress {
       {{ keepalived_apiserver_vip_w_default }}
    }

    track_script {
       check_k3s
    }
}
